@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@import '../src/achromatic.css';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';


[data-theme='cerberus'] {
    --heading-font-family: 'Pre', sans-serif;
    --base-font-family: 'Open Sans', sans-serif;
    --anchor-font-family: 'inherit';
}