@use "./base.scss";

// put your custom CSS here!
@font-face {
  font-family: "Pretendard GOV Variable";
  src: url("/static/fonts/PretendardGOVVariable.woff2");
  font-style: normal; /* 기울임 없음 */
}

:root {
  --headerFont:
    "Pretendard GOV Variable", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

  --bodyFont:
    "Pretendard GOV Variable", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

  --codeFont:
    "JetBrains Mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo, monospace !important;
}

strong {
  font-weight: bolder;
}
